* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background: #ffffff;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}